<template>
    <div class="row justify-content-md-end justify-content-lg-end align-items-center mb-3">
        <spinner v-if="loadingSearch"/>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <buscar @filtrar="filtrar($event)" />
        </div>
    </div>
    <div v-if="loading" class="d-flex justify-content-center my-5">
        <spinner tipo="dark" :agrandar="true" />
    </div>
    <div v-else>
        <div
            v-if="existenRegistros((servicios.data || servicios))"
            class="table-responsive"
        >
            <table  class="table table-striped align-middle mb-0">
                <thead>
                    <tr>
                        <th
                            v-for="cabecera in cabeceras"
                            :key="cabecera"
                            class="text-center"
                        >
                            {{ cabecera}}
                        </th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr v-for="servicio in servicios.data" :key="servicio.id">
                        <td class="text-center">
                            {{ servicio.nombre }}
                        </td>
                        <td class="text-center fw-medium">
                            {{ servicio.parte_motor.nombre }}
                        </td>
                        <td class="text-center">
                            <badge :tipo="colorBadgeEstado(servicio.activo)">
                                <span class="fs-6">{{ servicio.texto_estado }}</span>
                            </badge>
                        </td>
                        <td class="text-center">
                            <div class="dropdown-center">
                                <p
                                    role="button"
                                    class="p-1 m-0"
                                    data-bs-toggle="dropdown"
                                >
                                    <iconos :icon="['fas','ellipsis-vertical']" size="xl" />
                                </p>

                                <ul class="dropdown-menu py-1">
                                    <li
                                        class="dropdown-item"
                                        role="button"
                                        @click="editar(servicio)"
                                    >
                                        <iconos class="me-1" :icon="['fas','pen']" /> Editar
                                    </li>
                                    <li
                                        class="dropdown-item"
                                        role="button"
                                        @click="eliminar(servicio)"
                                    >
                                        <div v-if="servicio.activo">
                                            <iconos class="me-1" :icon="['fas','toggle-off']" /> Desactivar
                                        </div>
                                        <div v-else>
                                            <iconos class="me-1" :icon="['fas','toggle-on']" /> Activar
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div
                v-if="existenRegistros((servicios.data || servicios))"
                class="d-flex align-items-center justify-content-between mt-2"
            >
                <div class="col-6">
                    <h6 class="mb-0">
                        {{ mensajeRegistrosPaginados(servicios) }}
                    </h6>
                </div>
                <div class="col-auto">
                    <paginador
                        :rows="servicios.per_page"
                        :totalRecords="servicios.total"
                        :rowsPerPageOptions="[15,30,50]"
                        @page="paginar($event)"
                    />
                </div>
            </div>
        </div>
        <alerta
            v-else
            texto="Sin registros de servicios"
            tipo="warning"
            :cerrar="false"
        />
    </div>
    <formulario-servicios
        :servicio="servicio"
        :verModal="verModal"
        @close="cerrarModal()"
        @refrescar="listado()"
    />
    <confirm-dialog group="headless" :style="{ width: '25rem' }">
        <template #container="{ message, acceptCallback, rejectCallback }">
            <div class="p-4 bg-white rounded">
                <h4 class="mb-3">
                    ¿{{ message.header }}?
                </h4>
                <p>
                    {{ message.message }}
                </p>
                <div class="d-flex justify-content-end align-items-center">
                    <button class="btn btn btn-outline-secondary me-2" @click="rejectCallback">
                        Cancelar
                    </button>
                    <button class="btn btn btn-primary" @click="acceptCallback">
                        {{ textoBotonConfirmacion }}
                    </button>
                </div>
            </div>
        </template>
    </confirm-dialog>
</template>

<script setup>
import { onMounted,ref } from 'vue';
import useApi from '@/composables/useApi';
import useGenerales from '@/composables/useGenerales';
import useNotificacionesApi from '@/composables/useNotificacionesApi';
import usePaginacion from '@/composables/usePaginacion';

//COMPONENTS
import FormularioServicios from './Formulario.vue';

//HOOKS
onMounted(async () => {
    loading.value = true;

    await listado();

    loading.value = false;
});

//COMPOSABLES
const { get,destroy } = useApi();

const {
    confirmar,
    loading,
    colorBadgeEstado,
    textoBotonConfirmacion,
    verModal,
    quitarReactividad
} = useGenerales();

const { notificacion } = useNotificacionesApi();

const {
    cambioPagina,
    existenRegistros,
    filtrarDatos,
    loadingSearch,
    mensajeRegistrosPaginados,
    params
} = usePaginacion();

//DATA
const cabeceras = ['NOMBRE','PARTE MOTOR','ESTADO','ACCIONES'];

const servicio = ref({
    id: null,
    nombre: null,
    parte_motor_id: null,
    activo: true
});

const servicios = ref({});

//METHODS
function abrirModal() {
    verModal.value = true;
}

function cerrarModal() {
    verModal.value = false;
    servicio.value = {
        id: null,
        nombre: null,
        parte_motor_id: null,
        activo: true
    }
}

function editar(servicioEdit) {
    servicioEdit   = quitarReactividad(servicioEdit);
    servicio.value = servicioEdit.value;
    verModal.value = true;
}

function eliminar(servicio) {
    const accionHeader  = (servicio.activo) ? 'Desactivar' : 'Activar';
    const accionMessage = (servicio.activo) ? 'desactivara' : 'activara';

    textoBotonConfirmacion.value = accionHeader;

    confirmar.require({
        group: 'headless',
        header:  `${accionHeader} servicio`,
        message: `Se ${accionMessage} a ${servicio.nombre}`,
        accept: async () => await eliminarsServicios(servicio.id),
        reject: () => {

        }
    });
}

async function eliminarsServicios(servicios_id) {
    let { status,mensaje } = await destroy(`/catalogos/servicios/${servicios_id}`);

    if (status !== 200) {
        notificacion('error', 'Error', mensaje);
        return
    }

    await listado();
    notificacion('success', 'Eliminado', mensaje, true);
}

async function filtrar(query) {
    loadingSearch.value = true;

    filtrarDatos(query);
    await listado();

    loadingSearch.value = false;
}

async function listado() {
    let { data,status,mensaje } = await get('/catalogos/servicios', params.value);

    if (status !== 200) {
        notificacion('error', 'Error', mensaje);
        return
    }

    servicios.value = data;
}

async function paginar(data) {
    cambioPagina(data);
    await listado();
    window.scrollTo(0,0);
}

defineExpose({ abrirModal });
</script>
