<template>
    <toast />
    <component :is="layoutActivo" />
</template>

<script setup>
import { computed } from 'vue';
import useAuthStore from '@/store/auth';

//LAYOUTS
import AdminLayout from '@/layouts/AdminLayout.vue';
import LoginLayout from '@/layouts/LoginLayout.vue';

//COMPOSABLES
const authStore = useAuthStore();

//COMPONENTS
const layoutActivo = computed(() => (authStore.loggedIn) ? AdminLayout : LoginLayout);
</script>
