.btn-primary, .btn-success {
    color: white;

    &:hover {
        color: white;
    }
}

.alert {
    margin-bottom: 0;
}

label.form-label {
    font-weight: 400;
    font-size: 17px;
}

ul {
    margin-bottom: 0;
    padding: 0;
}

.p-inputtext {
    padding: 5px 12px;
    width: 100%;
    font-size: 0.9rem;

    /* &:focus {
        box-shadow: 0 0 0 0.25rem rgba(239, 68, 68, .2);
        border-color: rgba(239, 68, 68, .2);
    } */
}

.p-inputnumber-button {
    background-color: #fff;
    color: #495057;
    border-color: #ced4da;
}

.p-inputnumber-input:disabled, .p-disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control {
    border-color: rgba(0, 0, 0, 0.175);

    &::placeholder {
        color:rgba(0, 0, 0, 0.35);
    }
}

.form-check-input {
    width: 35px !important;
    height: 20px !important;
    border-color: #bfbfc3;
    cursor: pointer;

    &:checked {
        background-color: #3498db;
        border-color: #3498db;
    }

    &:disabled {
        background-color: #e9ecef;
        border-color: #e9ecef;
    }
}

.form-check-input:focus,
.form-control:focus,
.p-inputnumber-input:focus,
.p-inputtext:focus {
    box-shadow: 0 0 0 0.25rem rgba(46, 134, 193, .25);
    border-color: rgba(46, 134, 193, .25);
}

.v-select {
    &.vs--disabled {
        background-color: #e9ecef;

        .vs__dropdown-toggle,.vs__search {
            background-color: #e9ecef;
        }
    }

    .vs__dropdown-toggle {
        border-color: #D5DBDB;
        padding: 7px 12px;

        .vs__selected {
            padding: 0;
            margin: 0;
        }

        .vs__search {
            margin-top: 0;
            font-size: 0.9rem;
            color: #212529;
        }

        .vs__search::placeholder {
            color: rgba(0, 0, 0, 0.35);
        }

        .vs__selected-options {
            padding: 0;
        }
    }

    ul.vs__dropdown-menu {
        li.vs__dropdown-option {
            padding: 6px 12px;

            &:hover {
                background-color: #3498db;
            }

            &.vs__dropdown-option--selected, &.vs__dropdown-option--highlight {
                background-color: #3498db;
                color: #fff;
            }
        }
    }
}

.bg-secondary {
    background-color: #CACFD2 !important;
    color: #000;
    border-color: #CACFD2 !important;
}

.btn-secondary {
    background-color: #CACFD2;
    color: #000;
    border-color: #CACFD2;

    &:hover, &:active {
        background-color: #BDC3C7 !important;
        color: #000 !important;
        border-color: #CACFD2 !important;
    }

    &:disabled {
        background-color: #E5E7E9 !important;
        color: #000 !important;
        border-color: #E5E7E9 !important;
    }
}

.btn-default {
    border-color: #D5DBDB;
    background-color: #F2F3F4;

    &:hover {
        border-color: #D5DBDB;
        background-color: #D5DBDB;
    }
}

.dropdown-item:active {
    background-color: #3498db;
}

#navbar {
    font-size: 18px;

    li.nav-item {
        &.active {
            a.dropdown-toggle {
                background-color: #E5E7E9;
                color: #3498db !important;
                font-weight: 500;
            }
        }

        a {
            transition-duration: .3s;
            color: #212529;
            text-decoration: none;

            &:hover {
                background-color: #E5E7E9;
                color: #3498db;
            }

            &.show {
                background-color: #E5E7E9;
                color: #3498db;
            }

            &.router-link-active {
                background-color: #E5E7E9;
                color: #3498db;
                font-weight: 500;
            }
        }

        ul.dropdown-menu {
            li {
                a {
                    font-size: 16px;
                }
            }
        }
    }
}

.layout-admin, .layout-web {
    min-height: 100vh;
    background-color: #E5E7E9;
}

.btn-danger {
    color: #fff;

    &:hover, &:active {
        color: #fff;
    }
}

.btn-outline-danger:hover {
    color: #fff;
}

.p-paginator {
    .p-paginator-first, .p-paginator-prev, .p-paginator-next, .p-paginator-last, .p-paginator-page {
        color: #3498db;
    }

    .p-paginator-page.p-highlight {
        background-color: #3498db;
        color: #fff;
        border-color: #3498db;
    }
}

#verifacion-email {
    min-height: 100vh;
    background-color: #E5E7E9;
}

.p-dialog-content {
    overflow-y: visible;
}

table {
    .img-listado {
        height: 50px;
        width: 50px;
        border-radius: 3px;
    }
}

.p-accordion-header-link {
    background-color: rgba(33, 37, 41, 0.03);

        color: #020617 !important;
        text-decoration: none;
}
