// Body
//$body-bg: ;

//Colors
/* $danger: #EF4444; */
$primary: #3498db;
$success: #17a589;
$warning: #f4d03f;
$dark: #020617;

//TYPOGRAFIA
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//BORDES
$border-radius: 3px;
$border-radius-sm: 3px;
$border-radius-lg: 3px;
$border-radius-xl: 3px;
$border-radius-2xl: 3px;

