<template>
    <modal
        modal
        :closable="false"
        :showHeader="false"
        :style="{ width: '27rem' }"
        :visible="verModal"
        contentClass="p-0 rounded"
    >
        <form @submit.prevent="submit()">
            <card
                clasesCard="border-0"
                footer
                header
            >
                <template #header>
                    <h4 class="mb-0">{{ titulo }}</h4>
                </template>
                <template #body>
                    <div class="mb-3">
                        <label class="form-label">
                            Año <span class="text-danger">*</span>
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="ingresar año"
                            v-model="modelo.anio"
                            :disabled="loading"
                        >
                        <errores-formulario
                            v-if="errores.anio"
                            :errores="errores.anio"
                        />
                    </div>
                </template>
                <template #footer>
                    <div class="d-flex justify-content-end align-items-center">
                        <spinner v-if="loading" />
                        <button
                            type="button"
                            class="btn btn-secondary mx-2"
                            @click="$emit('close')"
                            :disabled="loading"
                        >
                            Cancelar
                        </button>
                        <button
                            type="submit"
                            class="btn btn-primary"
                            :disabled="loading"
                        >
                            Guardar
                        </button>
                    </div>
                </template>
            </card>
        </form>
    </modal>
</template>

<script setup>
import { computed } from 'vue';
import useApi from '@/composables/useApi';
import useGenerales from '@/composables/useGenerales';
import useNotificacionesApi from '@/composables/useNotificacionesApi';

//PROPS
const props = defineProps({
    modelo:{
        type: Object,
        require: true
    },
    verModal:{
        type: Boolean,
        default: false
    }
});

//EMITS
const emit = defineEmits(['close','refrescar']);

//COMPOSABLES
const { post,put } = useApi();

const { loading } = useGenerales();

const { errores,manejoErroresApi,notificacion } = useNotificacionesApi();

//COMPUTED
const titulo = computed(() => (props.modelo.id) ? 'Editar modelo' : 'Nueva modelo');

//METHODS
async function crearOActualizar() {
    if (props.modelo.id) {
        return await put(`/catalogos/modelos/${props.modelo.id}`, props.modelo);
    } else {
        return await post('/catalogos/modelos', props.modelo);
    }
}

function regresar() {
    errores.value = {};

    emit('refrescar');
    emit('close');
}

async function submit() {
    loading.value = true;
    errores.value = {};

    let { error,mensaje,status } = await crearOActualizar();

    if (error) {
        manejoErroresApi(error, status, props.modelo);
        loading.value = false;
        return
    }

    loading.value = false;

    notificacion('success', 'Exito', mensaje, true);
    regresar();
}
</script>
