<template>
    <div v-if="abonos.length">
        <div class="row mx-0 justify-content-center  align-items-center mb-2">
            <div class="col-10 col-sm-10 col-md-6 col-lg-5 col-xl-5">
                <ul class="list-group">
                    <li
                        v-for="abono in abonos"
                        :key="abono.id"
                        class="list-group-item fw-normal py-3 d-flex justify-content-between align-items-center"
                    >
                        {{ abono.created_at }}
                        <div class="d-flex align-items-center">
                            <span class="fw-semibold">
                                {{ formatoMoneda(abono.monto) }}
                            </span>
                            <button
                                type="button"
                                class="btn btn-sm btn-outline-danger ms-2"
                                @click="eliminar(abono)"
                            >
                                <iconos :icon="['fas','eraser']" />
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <alerta
        v-else
        texto="Sin abonos registrados"
        tipo="warning"
        :cerrar="false"
    />
    <confirm-dialog group="headless" :style="{ width: '25rem' }">
        <template #container="{ message, acceptCallback, rejectCallback }">
            <div class="p-4 bg-white rounded">
                <h4 class="mb-3">
                    ¿{{ message.header }}?
                </h4>
                <p>
                    {{ message.message }}
                </p>
                <div class="d-flex justify-content-end align-items-center">
                    <button class="btn btn btn-outline-secondary me-2" @click="rejectCallback">
                        Cancelar
                    </button>
                    <button class="btn btn btn-primary" @click="acceptCallback">
                        Eliminar
                    </button>
                </div>
            </div>
        </template>
    </confirm-dialog>
</template>

<script setup>
import useApi from '@/composables/useApi';
import useGenerales from '@/composables/useGenerales';
import useFormatos from '@/composables/useFormatos';
import useNotificacionesApi from '@/composables/useNotificacionesApi';

//PROPS
const props = defineProps({
    abonos: {
        type: Array,
        default: []
    }
});

const emit = defineEmits(['refrescar']);

//COMPOSABLES
const { destroy } = useApi();

const { confirmar } = useGenerales();

const { formatoMoneda } = useFormatos();

const { notificacion } = useNotificacionesApi();

//METHODS
function eliminar(abono) {
    confirmar.require({
        group: 'headless',
        header:  'Eliminar abono',
        message: `Se eliminara el abono por $${abono.monto}`,
        accept: async () => await eliminarAbono(abono.id),
        reject: () => {

        }
    });
}
async function eliminarAbono(abono_id) {
    let { status,mensaje } = await destroy(`/abonos/${abono_id}`);

    if (status !== 200) {
        notificacion('error', 'Error', mensaje);
        return
    }

    notificacion('success', 'Eliminado', mensaje, true);
    emit('refrescar');
}
</script>
