<template>
    <div v-if="loading" class="d-flex justify-content-center py-5">
        <spinner tipo="dark" :agrandar="true" />
    </div>
    <div v-else>
        <div class="row justify-content-center  align-items-center mx-0 gy-3 p-3">
            <div class="col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3">
                <p class="text-center text-sm-center text-md-end text-lg-end text-xl-end fw-semibold fs-3 mb-1">
                    {{ trabajo.cliente_proveedor?.nombre }}
                </p>
                <p class="text-center text-sm-center text-md-end text-lg-end text-xl-end fs-5 mb-1">
                    <badge tipo="primary">{{ trabajo.marca?.nombre }}</badge>
                </p>
                <p class="text-center text-sm-center text-md-end text-lg-end text-xl-end fw-normal fs-5 mb-1">
                    {{ trabajo.submarca?.nombre }} {{ trabajo.modelo?.anio }}
                </p>
                <p class="fst-italic text-center text-sm-center text-md-end text-lg-end text-xl-end text-muted fw-light fs-5 mb-0">
                    {{ trabajo.created_at }}
                </p>
            </div>
            <div class="col-9 col-sm-8 col-md-5 col-lg-3 col-xl-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center fs-5">
                        Total:
                        <span class="fw-semibold">
                            {{ formatoMoneda(trabajo.cuenta?.monto) }}
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center fs-5">
                        Abonado:
                        <span class="fw-semibold text-danger">
                            - {{ formatoMoneda(trabajo.cuenta?.total_abonado) }}
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-body-secondary">
                        <span class="fs-5">Restante:</span>
                        <p class="mb-0 fs-4">
                            <badge tipo="dark">
                                {{ formatoMoneda(trabajo.cuenta?.total_restante) }}
                            </badge>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <h4 class="text-center my-3">
            Estado: <badge :tipo="colorBadgeCuenta(trabajo.cuenta)">{{ trabajo.cuenta?.estado }}</badge>
        </h4>
        <card
            clasesBody="border-bottom"
            clasesCard="border-0"
            clasesHeader="border-top border-bottom"
            header
        >
            <template #header>
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Abonos</h5>
                    <button
                        v-if="mostrarBotonAbonos"
                        type="button"
                        class="btn btn-primary btn-sm"
                        @click="verModal = true"
                    >
                        Agregar
                    </button>
                </div>
            </template>
            <template #body>
                <abonos-trabajo
                    :abonos="trabajo.cuenta?.abonos"
                    @refrescar="obtenerTrabajo"
                />
            </template>
        </card>
    </div>
    <modal-abonos
        :abono="abono"
        :total-restante="trabajo.cuenta?.total_restante"
        :ver-modal="verModal"
        @close="cerrarModal()"
        @refrescar="obtenerTrabajo()"
    />
</template>

<script setup>
import { computed,onMounted,ref } from 'vue';
import { useRoute } from 'vue-router';
import useApi from '@/composables/useApi';
import useFormatos from '@/composables/useFormatos';
import useGenerales from '@/composables/useGenerales';
import useNotificacionesApi from '@/composables/useNotificacionesApi';

//COMPONENTS
import AbonosTrabajo from './AbonosTrabajo.vue';
import ModalAbonos from './ModalAbonos.vue'

//HOOKS
onMounted(async () => obtenerTrabajo());

//COMPOSABLES
const { get } = useApi();

const { formatoMoneda } = useFormatos();

const { loading,verModal } = useGenerales();

const { notificacion } = useNotificacionesApi();

const route = useRoute();

//DATA
const trabajo = ref({});

const abono = ref({
    id: null,
    cuenta_id: null,
    monto: 0
});

//COMPUTED
const mostrarBotonAbonos = computed(() => (trabajo.value.cuenta?.total_restante > 0));

//METHODS
function cerrarModal() {
    let { id } = route.params;

    verModal.value = false;
    abono.value = {
        id: null,
        cuenta_id: id,
        monto: 0
    }
}

function colorBadgeCuenta(cuenta) {
    return (cuenta?.estado === 'PAGADA' )
    ? 'success'
    : 'warning';
}

async function obtenerTrabajo() {
    loading.value = true;

    let { id } = route.params;
    let { data,error } = await get(`/trabajos/${id}`);

    if (error) {
        notificacion('error', 'Error', error);

        loading.value = false;
        return
    }

    loading.value         = false;
    trabajo.value         = data;
    abono.value.cuenta_id = data.cuenta.id;
}
</script>
