<template>
    <div v-if="loading" class="d-flex justify-content-center py-5">
        <spinner tipo="dark" :agrandar="true" />
    </div>
    <div v-else>
        <div class="row justify-content-center  align-items-center mx-0 gy-3 p-3">
            <div class="col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3">
                <p class="text-center text-sm-center text-md-end text-lg-end text-xl-end fw-semibold fs-3 mb-1">
                    {{ trabajo.cliente_proveedor?.nombre }}
                </p>
                <p class="text-center text-sm-center text-md-end text-lg-end text-xl-end fs-5 mb-1">
                    <badge tipo="primary">{{ trabajo.marca?.nombre }}</badge>
                </p>
                <p class="text-center text-sm-center text-md-end text-lg-end text-xl-end fw-normal fs-5 mb-1">
                    {{ trabajo.submarca?.nombre }} {{ trabajo.modelo?.anio }}
                </p>
                <p class="fst-italic text-center text-sm-center text-md-end text-lg-end text-xl-end text-muted fw-light fs-5 mb-0">
                    {{ trabajo.created_at }}
                </p>
            </div>
            <div class="col-9 col-sm-8 col-md-5 col-lg-3 col-xl-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center fs-5">
                        Subtotal:
                        <span class="fw-semibold">
                            {{ formatoMoneda(trabajo.subtotal) }}
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center fs-5">
                        Descuento:
                        <span class="fw-semibold text-danger">
                            - {{ formatoMoneda(trabajo.descuento) }}
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-body-secondary fs-5">
                        <span class="fs-5">Total:</span>
                        <p class="mb-0 fs-4">
                            <badge tipo="dark">
                                {{ formatoMoneda(trabajo.total) }}
                            </badge>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <card
            clasesBody="border-bottom"
            clasesCard="border-0"
            clasesHeader="border-top border-bottom"
            header
        >
            <template #header>
                <h5 class="my-1">Servicios</h5>
            </template>
            <template #body>
                <accordion >
                    <accordion-tab  v-for="data in dataServicios" :key="data.parte_motor">
                        <template #header>
                            <h5 class="fw-normal mb-0">
                                {{ data.parte_motor }} <badge tipo="dark">{{ data.servicios.length }}</badge>
                            </h5>
                        </template>
                        <div class="table-responsive">
                            <table class="table   align-middle">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th><!--  -->
                                        <th class="text-center">NOMBRE</th>
                                        <th class="text-center">MONTO</th>
                                        <th class="text-center">DESCUENTO</th>
                                        <th class="text-center">TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <tr v-for="(servicio, index) in data.servicios" :key="servicio.id">
                                        <td class="text-center">
                                            {{ index + 1 }}
                                        </td>
                                        <td class="text-center">
                                            {{ servicio.nombre }}
                                        </td>
                                        <td class="text-center">
                                            {{ formatoMoneda(servicio.pivot.monto) }}
                                        </td>
                                        <td class="text-center">
                                        <span :class="claseDescuento(servicio.pivot.descuento)">
                                                {{ formatoMoneda(servicio.pivot.descuento) }}
                                        </span>
                                        </td>
                                        <td class="text-center fw-medium">
                                            {{ formatoMoneda(servicio.pivot.monto - servicio.pivot.descuento) }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row justify-content-center mx-0">
                                <div class="col-9 col-sm-8 col-md-5 col-lg-3 col-xl-3">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Subtotal:
                                            <span class="fw-semibold">
                                                {{ formatoMoneda(data.subtotal) }}
                                            </span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Descuento:
                                            <span class="fw-semibold text-danger">
                                                - {{ formatoMoneda(data.descuento) }}
                                            </span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center bg-body-secondary">
                                            <span class="fw-semibold">Total:</span>
                                            <h5 class="mb-0">
                                                <badge tipo="dark">
                                                    {{ formatoMoneda(data.total) }}
                                                </badge>
                                            </h5>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </accordion-tab>
                </accordion>
            </template>
        </card>
    </div>
</template>

<script setup>
import { computed,onMounted,ref } from 'vue';
import { useRoute } from 'vue-router';
import useApi from '@/composables/useApi';
import useFormatos from '@/composables/useFormatos';
import useGenerales from '@/composables/useGenerales';
import useNotificacionesApi from '@/composables/useNotificacionesApi';

//HOOKS
onMounted(async () => obtenerTrabajo());

//COMPOSABLES
const { get } = useApi();

const { formatoMoneda } = useFormatos();

const { loading } = useGenerales();

const { notificacion } = useNotificacionesApi();

const route = useRoute();

//DATA
const trabajo = ref({});

const dataServicios = ref([]);

const partesMotor = ref([]);

//METHODS
function claseDescuento(descuento) {
    return (descuento > 0) ? 'text-danger' : '';
}

function obtenerServicios(trabajo) {
    let { servicios: serviciosApi } = trabajo;

    for (const parteMotor of partesMotor.value) {
        const parteMotorServicios = serviciosApi.filter(
            servicio => servicio.parte_motor.nombre === parteMotor
        );

        const subtotal  = parteMotorServicios.reduce((suma, servicio) => suma + servicio.pivot.monto, 0);
        const descuento = parteMotorServicios.reduce((suma, servicio) => suma + servicio.pivot.descuento, 0);

        dataServicios.value.push({
            parte_motor: parteMotor,
            servicios: parteMotorServicios,
            subtotal,
            descuento,
            total : subtotal - descuento
        });
    }
}

function obtenerPartesMotor(trabajo) {
    let nombres   = [];
    let servicios = []
    let { servicios: serviciosApi } = trabajo;

    servicios = serviciosApi.map(servicio => servicio.parte_motor.nombre);
    nombres   = new Set(servicios);

    partesMotor.value = [...nombres].sort();
}

async function obtenerTrabajo() {
    loading.value = true;

    let { id } = route.params;
    let { data,error } = await get(`/trabajos/${id}`);

    if (error) {
        notificacion('error', 'Error', error);

        loading.value = false;
        return
    }

    loading.value = false;
    trabajo.value = data;

    obtenerPartesMotor(trabajo.value);
    obtenerServicios(trabajo.value);
}
</script>
