<template>
    <form @submit.prevent="submit()">
        <card
            clasesBody="p-0"
            clasesCard="border-0"
            clasesFooter="bg-white"
            footer
        >
            <template #body>
                <div class="row gy-3 p-3">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label">
                            Cliente <span class="text-danger">*</span>
                        </label>
                        <v-select
                            label="nombre"
                            v-model="trabajo.cliente_proveedor_id"
                            placeholder="Seleccionar cliente"
                            :clearable="false"
                            :disabled="loading"
                            :options="clientes"
                            :reduce="cp => cp.id"
                        />
                        <errores-formulario
                            v-if="errores.cliente_proveedor_id"
                            :errores="errores.cliente_proveedor_id"
                        />
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label">
                            Marca <span class="text-danger">*</span>
                        </label>
                        <v-select
                            label="nombre"
                            v-model="trabajo.marca_id"
                            placeholder="Seleccionar marca"
                            :clearable="false"
                            :disabled="loading"
                            :options="marcas"
                            :reduce="m => m.id"
                            @option:selected="listadoSubmarcas($event)"
                        />
                        <errores-formulario
                            v-if="errores.marca_id"
                            :errores="errores.marca_id"
                        />
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label">
                            Submarca <span class="text-danger">*</span>
                        </label>
                        <v-select
                            label="nombre"
                            v-model="trabajo.submarca_id"
                            placeholder="Seleccionar submarca"
                            :clearable="false"
                            :disabled="loading"
                            :options="submarcas"
                            :reduce="sm => sm.id"
                        />
                        <errores-formulario
                            v-if="errores.submarca_id"
                            :errores="errores.submarca_id"
                        />
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label">
                            Modelo <span class="text-danger">*</span>
                        </label>
                        <v-select
                            label="anio"
                            v-model="trabajo.modelo_id"
                            placeholder="Seleccionar modelo"
                            :clearable="false"
                            :disabled="loading"
                            :options="modelos"
                            :reduce="m => m.id"
                        />
                        <errores-formulario
                            v-if="errores.modelo_id"
                            :errores="errores.modelo_id"
                        />
                    </div>
                </div>
                <card
                    clasesBody="border-bottom"
                    clasesCard="border-0"
                    clasesHeader="border-top border-bottom"
                    header
                >
                    <template #header>
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Servicios</h5>
                            <button
                                type="button"
                                class="btn btn-primary btn-sm"
                                @click="verModal = true"
                            >
                                Agregar
                            </button>
                        </div>
                    </template>
                    <template #body>
                        <div v-if="loadingAuxiliar" class="d-flex justify-content-center">
                            <spinner  />
                        </div>
                        <servicios-seleccionados
                            v-else
                            :errores="errores"
                            :servicios="trabajo.servicios"
                            @eliminar-servicio="eliminarServicio"
                        />
                    </template>
                </card>
                <div class="col-12 p-3">
                    <label class="form-label">
                        Observaciones
                    </label>
                    <textarea
                        class="form-control"
                        rows="4"
                        placeholder="ingresar observaciones"
                        v-model="trabajo.observaciones"
                        :disabled="loading"
                    >
                    </textarea>
                </div>
            </template>
            <template #footer>
                <div class="d-flex justify-content-end align-items-center">
                    <spinner v-if="loading" />
                    <button
                        type="button"
                        class="btn btn-secondary mx-2"
                        @click="regresar()"
                        :disabled="loading"
                    >
                        Cancelar
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        @click="submit()"
                        :disabled="loading"
                    >
                        Guardar
                    </button>
                </div>
            </template>
        </card>
    </form>
    <modal-servicios
        ref="modalServicios"
        :serviciosTrabajo="trabajo.servicios"
        :verModal="verModal"
        @close="verModal = false"
        @eliminar-servicio="eliminarServicio"
    />
</template>

<script setup>
import { onMounted,ref } from 'vue';
import { useRoute,useRouter } from 'vue-router';
import useApi from '@/composables/useApi';
import useGenerales from '@/composables/useGenerales';
import useNotificacionesApi from '@/composables/useNotificacionesApi';

//COMPONENTS
import ModalServicios from './ModalServicios.vue';
import ServiciosSeleccionados from './ServiciosSeleccionados.vue';

//HOOKS
onMounted(async () => {
    let { id } = route.params

    loading.value = true;
    loadingAuxiliar.value = true;

    await listados();

    if (id) {
        await buscarTrabajo(id);
    }

    loading.value = false;
    loadingAuxiliar.value = false;
});

//COMPOSABLES
const { get,post,put } = useApi();

const { loading,verModal } = useGenerales();

const { errores,manejoErroresApi,notificacion } = useNotificacionesApi();

const route = useRoute();

const router = useRouter();

//DATA
const clientes = ref([]);

const loadingAuxiliar = ref(false);

const marcas = ref([]);

const modalServicios = ref([]);

const modelos = ref([]);

const submarcas = ref([]);

const trabajo = ref({
    id: null,
    cliente_proveedor_id: null,
    marca_id: null,
    submarca_id: null,
    modelo_id: null,
    estado: 'PENDIENTE',
    observaciones: null,
    activo: true,
    servicios: []
});

//METHODS
async function buscarTrabajo(trabajo_id) {
    let { data,error } = await get(`/trabajos/${trabajo_id}`);

    if (error) {
        notificacion('error', 'Error', error);

        return
    }

    trabajo.value = data;

    await listadoSubmarcas(data.marca);
    construirServiciosEditar(data);
}

function construirServiciosEditar(data) {
    let idsServicios = data.servicios.map(servicio => servicio.id);

    trabajo.value.servicios = data.servicios.map(servicio => ({
        ...servicio,
        monto: servicio.pivot.monto,
        descuento: servicio.pivot.descuento,
        total: servicio.pivot.monto - servicio.pivot.descuento,
        seleccionar: true
    }));

    modalServicios.value.sertiviciosFiltrados.forEach(servicio => {
        if (idsServicios.includes(servicio.id)) {
            servicio.seleccionar = true;
        }
    });
}


async function crearOActualizar() {
    if (trabajo.value.id) {
        return await put(`/trabajos/${trabajo.value.id}`, trabajo.value);
    } else {
        return await post('/trabajos', trabajo.value);
    }
}

function eliminarServicio(servicioSelecionado) {
    let indexServicio = trabajo.value.servicios.findIndex(
        servicio => servicioSelecionado.id === servicio.id
    );

    trabajo.value.servicios.splice(indexServicio, 1);
}

async function listados() {
    let clientesApi = await get('/catalogos/clientes-proveedores/listado', { clientes: true });
    let marcasApi   = await get('/catalogos/marcas/marcas-padre');
    let modelosApi  = await get('/catalogos/modelos/listado');

    await Promise.all([clientesApi,marcasApi,modelosApi]).then(responses => {
        let [
            responseClientes,
            responseMarcas,
            responseModelos
        ] = responses;

        clientes.value = responseClientes.data;
        marcas.value   = responseMarcas.data;
        modelos.value  = responseModelos.data;
    }).catch(error => {
        notificacion('error', 'Error', 'Error al obtener los listados');
    });
}

async function listadoSubmarcas(marca) {
    const { id } = marca;

    const { data,error } = await get(`/catalogos/marcas/${id}/submarcas`);

    if (error) {
        notificacion('error', 'Error', error);
        return
    }

    submarcas.value = data;
}

function regresar() {
    router.push({ name: 'trabajos' });
}

async function submit() {
    loading.value = true;
    errores.value = {};

    let { error,mensaje,status } = await crearOActualizar();

    if (error) {
        manejoErroresApi(error, status, trabajo.value);
        loading.value = false;
        return
    }

    loading.value = false;

    notificacion('success', 'Exito', mensaje, true);
    regresar();
}
</script>
