<template>
    <div class="row justify-content-md-end justify-content-lg-end align-items-center mb-3">
        <spinner v-if="loadingSearch"/>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <buscar @filtrar="filtrar($event)" />
        </div>
    </div>
    <div v-if="loading" class="d-flex justify-content-center my-5">
        <spinner tipo="dark" :agrandar="true" />
    </div>
    <div v-else>
        <div
            v-if="existenRegistros((trabajos.data || trabajos))"
            class="table-responsive"
        >
            <div class="row gy-3 mx-0">
                <div
                    v-for="trabajo in trabajos.data"
                    :key="trabajo.id"
                    class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3"
                >
                    <card clasesCard="h-100" header>
                        <template #header>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="mb-0 text-center">
                                    {{ trabajo.cliente_proveedor.nombre }}
                                </h5>
                                <div class="dropdown-center">
                                    <p
                                        role="button"
                                        class="p-1 m-0"
                                        data-bs-toggle="dropdown"
                                    >
                                        <iconos :icon="['fas','ellipsis-vertical']" size="xl" />
                                    </p>

                                    <ul class="dropdown-menu py-1">
                                        <li
                                            class="dropdown-item"
                                            role="button"
                                            @click="cuenta(trabajo.id)"
                                        >
                                            <iconos class="me-1" :icon="['fas','hand-holding-dollar']" /> Cuenta
                                        </li>
                                        <li
                                            class="dropdown-item"
                                            role="button"
                                            @click="editar(trabajo.id)"
                                        >
                                            <iconos class="me-1" :icon="['fas','pen']" /> Editar
                                        </li>
                                        <li
                                            class="dropdown-item"
                                            role="button"
                                            @click="detalle(trabajo.id)"
                                        >
                                            <iconos class="me-1" :icon="['fas','eye']" /> Detalle
                                        </li>
                                        <li
                                            class="dropdown-item"
                                            role="button"
                                            @click="eliminar(trabajo)"
                                        >
                                            <div v-if="trabajo.activo">
                                                <iconos class="me-1" :icon="['fas','toggle-off']" /> Inactivar
                                            </div>
                                            <div v-else>
                                                <iconos class="me-1" :icon="['fas','toggle-on']" /> Activar
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </template>
                        <template #body>
                            <p class="fs-5 text-center fw-bold mb-1">
                                {{ trabajo.marca.nombre }}
                                <!-- <badge tipo="primary">
                                    {{ trabajo.marca.nombre }}
                                </badge> -->
                            </p>
                            <p class="fs-5 text-center fw-normal mb-1">
                                {{ trabajo.submarca.nombre }} {{ trabajo.modelo.anio }}
                            </p>
                            <p class="fs-5 text-center mb-1">
                                <badge :tipo="colorBadgeEstadoTrabajo(trabajo.estado)">
                                    {{ trabajo.estado }}
                                </badge>
                            </p>
                            <p class="fs-6 fst-italic text-center text-muted mb-0">
                               {{ trabajo.created_at }}
                            </p>
                        </template>
                    </card>
                </div>
            </div>
            <div
                v-if="existenRegistros((trabajos.data || trabajos))"
                class="d-flex align-items-center justify-content-between mt-2"
            >
                <div class="col-6">
                    <h6 class="mb-0">
                        {{ mensajeRegistrosPaginados(trabajos) }}
                    </h6>
                </div>
                <div class="col-auto">
                    <paginador
                        :rows="trabajos.per_page"
                        :totalRecords="trabajos.total"
                        :rowsPerPageOptions="[15,30,50]"
                        @page="paginar($event)"
                    />
                </div>
            </div>
        </div>
        <alerta
            v-else
            texto="Sin registros de trabajos"
            tipo="warning"
            :cerrar="false"
        />
    </div>
    <confirm-dialog group="headless" :style="{ width: '25rem' }">
        <template #container="{ message, acceptCallback, rejectCallback }">
            <div class="p-4 bg-white rounded">
                <h4 class="mb-3">
                    ¿{{ message.header }}?
                </h4>
                <p>
                    {{ message.message }}
                </p>
                <div class="d-flex justify-content-end align-items-center">
                    <button class="btn btn btn-outline-secondary me-2" @click="rejectCallback">
                        Cancelar
                    </button>
                    <button class="btn btn btn-primary" @click="acceptCallback">
                        {{ textoBotonConfirmacion }}
                    </button>
                </div>
            </div>
        </template>
    </confirm-dialog>
</template>

<script setup>
import { onMounted,ref } from 'vue';
import { useRouter } from 'vue-router';
import useApi from '@/composables/useApi';
import useGenerales from '@/composables/useGenerales';
import useNotificacionesApi from '@/composables/useNotificacionesApi';
import usePaginacion from '@/composables/usePaginacion';

//COMPOSABLES
const { get,destroy } = useApi();

const { confirmar,loading,colorBadgeEstado } = useGenerales();

const { notificacion } = useNotificacionesApi();

const {
    cambioPagina,
    existenRegistros,
    filtrarDatos,
    loadingSearch,
    mensajeRegistrosPaginados,
    params
} = usePaginacion();

const router = useRouter();

//DATA
const cabeceras = ['CLIENTE','MARCA','SUBMARCA','MODELO','ESTADO','ESTADO','ACCIONES'];

const textoBotonConfirmacion = ref('');

const trabajos = ref([]);

//HOOKS
onMounted(async () => {
    loading.value = true;

    await listado();

    loading.value = false;
});

//METHODS
function colorBadgeEstadoTrabajo(estado) {
    return (estado === 'PENDIENTE') ? 'warning' : 'primary';
}

function cuenta(trabajo_id) {
    router.push({
        name: 'trabajos-cuentas',
        params: {
            id: trabajo_id,
        }
    });
}

function detalle(trabajo_id) {
    router.push({
        name: 'trabajos-detalle',
        params: {
            id: trabajo_id,
        }
    });
}

function editar(trabajo_id) {
    router.push({
        name: 'trabajos-editar',
        params: {
            id: trabajo_id
        }
    });
}

function eliminar(trabajo) {
    const accionHeader  = (trabajo.activo) ? 'Inactivar' : 'Activar';
    const accionMessage = (trabajo.activo) ? 'inactivara' : 'activara';

    textoBotonConfirmacion.value = accionHeader;

    confirmar.require({
        group: 'headless',
        header:  `${accionHeader} trabajo`,
        message: `Se ${accionMessage} el trabajo de  ${trabajo.cliente_proveedor.nombre}`,
        accept: async () => await eliminarTrabajo(trabajo.id),
        reject: () => {

        }
    });
}

async function eliminarTrabajo(trabajo_id) {
    let { status,mensaje } = await destroy(`/trabajos/${trabajo_id}`);

    if (status !== 200) {
        notificacion('error', 'Error', mensaje);
        return
    }

    await listado();
    notificacion('success', 'Eliminado', mensaje, true);

}

async function filtrar(query) {
    loadingSearch.value = true;

    filtrarDatos(query);
    await listado();

    loadingSearch.value = false;
}

async function listado() {
    let { data,status,mensaje } = await get('/trabajos', params.value);

    if (status !== 200) {
        notificacion('error', 'Error', mensaje);
        return
    }

    trabajos.value = data;
}

async function paginar(data) {
    cambioPagina(data);
    await listado();
    window.scrollTo(0,0);
}
</script>
