<template>
    <modal
        modal
        :closable="false"
        :showHeader="false"
        :style="{ width: '70rem' }"
        :visible="verModal"
        contentClass="p-0 rounded"
    >
        <card header>
            <template #header>
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Servicios para trabajo</h4>
                    <button
                        type="button"
                        class="btn-close"
                        aria-label="Close"
                        @click="cerrar()"
                    >
                    </button>
                </div>
            </template>
            <template #body>
                <div class="row justify-content-between align-items-center mb-3 mt-2">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 fs-5">
                        Seleccionados <badge :tipo="tipoBadgeSeleccionados">{{ serviciosTrabajo.length }}</badge>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <buscar @filtrar="filtrar($event)" />
                    </div>
                </div>
                <table  class="table table-striped align-middle mb-0">
                    <thead>
                        <tr>
                            <th
                                v-for="cabecera in cabeceras"
                                :key="cabecera"
                                class="text-center"
                            >
                                {{ cabecera}}
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr v-for="servicio in sertiviciosFiltrados.slice(inicio,corte)" :key="servicio.id">
                            <td class="text-center">
                                {{ servicio.nombre }}
                            </td>
                            <td class="text-center">
                                {{ servicio.parte_motor.nombre }}
                            </td>
                            <td class="text-center">
                                <div class="form-check form-switch text-center form-check-inline">
                                    <input
                                        :id="`servicio-${servicio.id}`"
                                        v-model="servicio.seleccionar"
                                        class="form-check-input"
                                        type="checkbox"
                                        role="switch"
                                        :value="servicio"
                                        @change="verificarServicio(servicio)"
                                    >
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex align-items-center justify-content-end mt-2">
                    <div class="col-auto">
                        <paginador
                            :rows="8"
                            :totalRecords="sertiviciosFiltrados.length"
                            @page="paginar($event)"
                        />
                    </div>
                </div>
            </template>
        </card>
    </modal>
</template>

<script setup>
import { computed, onMounted,ref } from 'vue';
import useApi from '@/composables/useApi';
import useGenerales from '@/composables/useGenerales';
import useNotificacionesApi from '@/composables/useNotificacionesApi';

//PROPS
const props = defineProps({
    serviciosTrabajo: {
        type: Array,
        require: true
    },
    verModal:{
        type: Boolean,
        default: false
    }
});

//EMITS
const emit = defineEmits([
    'close',
    'eliminar-servicio',
    'refrescar'
]);

//HOOKS
onMounted(async () => await listadoServicios());

//COMPOSABLES
const { get } = useApi();

const { loading } = useGenerales();

const { errores,manejoErroresApi,notificacion } = useNotificacionesApi();

//DATA
const cabeceras = ['NOMBRE','PARTE MOTOR', 'AGREGAR'];

const corte = ref(8)

const inicio = ref(0);

const servicios = ref([]);

const sertiviciosFiltrados = ref([]);

//COMPUTED
const tipoBadgeSeleccionados = computed(() => props.serviciosTrabajo.length ? 'primary' : 'secondary')

//METHODS
function agregarServicio(servicioSelecionado) {
    props.serviciosTrabajo.push(servicioSelecionado);
}

async function cerrar() {
    filtrar('');
    emit('close');
}

function filtrar(query) {
    if (query) {
        query = query.toUpperCase();

        sertiviciosFiltrados.value = servicios.value.filter(
            servicio => (servicio.nombre.toUpperCase().includes(query)) || (servicio.parte_motor.nombre.toUpperCase().includes(query))
        );
    } else {
        sertiviciosFiltrados.value = servicios.value;
    }
}

async function listadoServicios() {
    loading.value = true;

    let { data,error } = await get('/catalogos/servicios/listado');

    if (error) {
        notificacion('error', 'Error', error);
        return
    }

    data = data.map(servicio => ({
        ...servicio,
        monto: 0,
        descuento: 0,
        total: 0,
        seleccionar: false
    }));
    servicios.value = data;
    sertiviciosFiltrados.value = data;

    loading.value = false;
}

function regresar() {
    emit('refrescar');
    emit('close');
}

function paginar(data) {
    let { first } = data;

    inicio.value = first;

    (first === 0) ? corte.value = 8 : corte.value = (first + 8);
}

function verificarServicio(servicio) {
    (servicio.seleccionar) ? agregarServicio(servicio) : emit('eliminar-servicio', servicio);
}

defineExpose({ sertiviciosFiltrados });
</script>
