<template>
   <modal
        modal
        :closable="false"
        :showHeader="false"
        :style="{ width: '25rem' }"
        :visible="verModal"
        contentClass="p-0 rounded"
    >
        <form @submit.prevent="submit()">
            <card
                clasesCard="border-0"
                footer
                header
            >
                <template #header>
                    <h4 class="mb-0">{{ titulo }}</h4>
                </template>
                <template #body>
                    <alerta
                        v-if="mostrarAlerta"
                        class="mb-2"
                        :texto="`El monto supera los $${totalRestante} restantes`"
                        tipo="danger"
                        :cerrar="false"
                    />
                    <div class="mb-2">
                        <label class="form-label" for="monto">
                            Monto <span class="text-danger">*</span>
                        </label>
                        <div>
                            <input-number
                                class="w-100"
                                :modelValue="abono.monto"
                                inputClass="text-center"
                                prefix="$"
                                :min="0"
                                mode="decimal"
                                :minFractionDigits="2"
                                @input="setAbono"
                            />
                        </div>
                        <errores-formulario
                            v-if="errores.monto"
                            :errores="errores.monto"
                        />
                    </div>
                </template>
                <template #footer>
                    <div class="d-flex justify-content-end align-items-center">
                        <spinner v-if="loading" />
                        <button
                            type="button"
                            class="btn btn-secondary mx-2"
                            @click="$emit('close')"
                            :disabled="loading"
                        >
                            Cancelar
                        </button>
                        <button
                            type="submit"
                            class="btn btn-primary"
                            :disabled="loading || mostrarAlerta"
                        >
                            Guardar
                        </button>
                    </div>
                </template>
            </card>
        </form>
    </modal>
</template>

<script setup>
import { ref,computed } from 'vue';
import useApi from '@/composables/useApi';
import useGenerales from '@/composables/useGenerales';
import useNotificacionesApi from '@/composables/useNotificacionesApi';

//PROPS
const props = defineProps({
    abono: {
        type: Object,
        require: true
    },
    totalRestante: {
        type: Number,
        require: true
    },
    verModal:{
        type: Boolean,
        require: true
    }
});

//EMITS
const emit = defineEmits(['close','refrescar']);

//COMPOSABLES
const { post,put } = useApi();

const { loading } = useGenerales();

const { errores,manejoErroresApi,notificacion } = useNotificacionesApi();

//COMPUTED
const mostrarAlerta = computed(
    () => (props.abono.monto > props.totalRestante) && (props)
);

const titulo = computed(() => props.abono.id ? 'Editar abono' : 'Nuevo abono');

//METHODS
async function crearOActualizar() {
    if (props.abono.id) {
        return await put(`/abonos/${props.abono.id}`, props.abono);
    } else {
        return await post('/abonos', props.abono);
    }
}

async function submit() {
    loading.value = true;
    errores.value = {};

    let { error,mensaje,status } = await crearOActualizar();

    if (error) {
        manejoErroresApi(error, status, props.abono);
        loading.value = false;
        return
    }

    loading.value = false;

    notificacion('success', 'Exito', mensaje, true);
    emit('refrescar');
    emit('close');
}

function setAbono(event) {
    const { value } = event;

    props.abono.monto = value;
}
</script>
