<template>
    <div  v-if="servicios.length">
        <div class="table-responsive">
            <table  class="table  align-middle mb-0">
                <thead>
                    <tr>
                        <th
                            v-for="cabecera in cabeceras"
                            :key="cabecera"
                            class="text-center"
                        >
                            {{ cabecera}}
                        </th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr v-for="(servicio,index) in servicios" :key="servicio.id">
                        <td class="text-center">
                            {{ index + 1 }}
                        </td>
                        <td class="text-center">
                            <badge class="fs-6" tipo="secondary">
                                {{ servicio.parte_motor.nombre }}
                            </badge>
                        </td>
                        <td class="text-center">
                            {{ servicio.nombre }}
                        </td>
                        <td class="text-center">
                            <input-number
                                :inputId="`precio-${servicio.id}`"
                                :modelValue="servicio.monto"
                                inputClass="text-center"
                                prefix="$"
                                :min="0"
                                :minFractionDigits="2"
                                @input="calculatTotalServicio($event, servicio, 'monto')"
                            />
                            <div>
                                <errores-formulario
                                    v-if="errores[`servicios.${index}.monto`]"
                                    :errores="errores[`servicios.${index}.monto`]"
                                />
                            </div>
                        </td>
                        <td class="text-center">
                            <input-number
                                :inputId="`descuento-${servicio.id}`"
                                :modelValue="servicio.descuento"
                                inputClass="text-center d-block"
                                prefix="$"
                                :min="0"
                                :minFractionDigits="2"
                                @input="calculatTotalServicio($event, servicio, 'descuento')"
                            />
                            <errores-formulario
                                v-if="errores[`servicios.${index}.descuento`]"
                                :errores="errores[`servicios.${index}.descuento`]"
                            />
                        </td>
                        <td class="text-center fw-semibold">
                            {{ formatoMoneda(servicio.total) }}
                        </td>
                        <td class="text-center">
                            <iconos
                                :icon="['fas','xmark']"
                                class="text-danger"
                                role="button"
                                size="lg"
                                @click="emit('eliminar-servicio', servicio)"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="col-8 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Subtotal:
                        <span class="fw-semibold">{{ formatoMoneda(subtotal) }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Descuento:
                        <span class="fw-semibold">{{ formatoMoneda(descuento) }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-body-secondary">
                        <span class="fw-semibold">Total:</span>
                        <h5 class="mb-0">
                            <badge tipo="dark">{{ formatoMoneda(total) }}</badge>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
        <errores-formulario
            v-if="errores.servicios"
            :errores="errores.servicios"
        />
    </div>
    <alerta
        v-else
        texto="Sin servicios seleccionados"
        tipo="warning"
        :cerrar="false"
    />
</template>

<script setup>
import { computed } from 'vue';
import useFormatos from '@/composables/useFormatos';

//PROPS
const props = defineProps({
    errores: {
        type: Object,
        require: true
    },
    servicios: {
        type: Array,
        require: true
    }
});

//EMITS
const emit = defineEmits(['eliminar-servicio']);

//COMPOSABLES
const { formatoMoneda } = useFormatos();

//DATA
const cabeceras = ['#','PARTE MOTOR','NOMBRE','MONTO','DESCUENTO','TOTAL'];

//COMPUTED
const descuento = computed(() => {
    let existenServicios = props.servicios.length;
    let descuento = 0;

    if (existenServicios) {
        let descuentos =  props.servicios.map(servicio => servicio.descuento);

        descuento = descuentos.reduce((a, b) => a + b);
    }

    return descuento;
});

const subtotal = computed(() => total.value + descuento.value);

const total = computed(() => {
    let existenServicios = props.servicios.length;
    let total = 0;

    if (existenServicios) {
        let precios =  props.servicios.map(servicio => servicio.total);

        total = precios.reduce((a, b) => a + b);
    }

    return total;
});

//METHODS
function calculatTotalServicio(event, servicio, propiedad) {
    const { value } = event;

    servicio[propiedad] = value
    servicio.total      = servicio.monto - servicio.descuento;
}
</script>
