<template>
    <card
        clasesBody="p-0"
        clasesCard="border-0 shadow-sm bg-white"
        clasesHeader="bg-white"
        header
    >
        <template #header>
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">
                    <iconos :icon="['fas','user-group']" /> Editar Cliente / Proveedor
                </h4>
                <router-link
                    class="btn btn-secondary"
                    :to="{ name: 'clientes-proveedores' }"
                >
                    <iconos :icon="['fas','arrow-left-long']" /> Regresar
                </router-link>
            </div>
        </template>
        <template #body>
            <formulario-clientes-proveedores />
        </template>
    </card>
</template>

<script setup>
//COMPONENTES
import FormularioClientesProveedores from '../../components/clientes-proveedores/Formulario.vue';
</script>
