<template>
    <card
        :header="true"
        clasesBody="p-0"
        clasesCard="border-0 shadow-sm"
        clasesHeader="bg-white"
    >
        <template #header>
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">
                    <iconos :icon="['fas','hand-holding-dollar']" /> Cuenta de trabajo
                </h4>
                <router-link
                    :to="{ name: 'trabajos' }"
                    class="btn btn-secondary"
                >
                    Regresar <iconos :icon="['fas','arrow-left-long']" />
                </router-link>
            </div>
        </template>
        <template #body>
            <cuenta-trabajo />
        </template>
    </card>
</template>

<script setup>
//COMPONENTS
import CuentaTrabajo from '../components/CuentaTrabajo.vue';
</script>
