<template>
    <card
        :header="true"
        clasesBody="p-0"
        clasesCard="border-0 shadow-sm"
        clasesHeader="bg-white"
    >
        <template #header>
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">
                    <iconos :icon="['fas','tools']" /> Detalle de trabajo
                </h4>
                <div>
                    <router-link
                        :to="{ name: 'trabajos' }"
                        class="btn btn-secondary me-2"
                    >
                        Regresar <iconos :icon="['fas','arrow-left-long']" />
                    </router-link>
                </div>
            </div>
        </template>
        <template #body>
            <detalle-trabajo />
        </template>
    </card>
</template>

<script setup>
//COMPONENTS
import DetalleTrabajo from '../components/DetalleTrabajo.vue';
</script>
