<template>
    <card
        :header="true"
        clasesCard="border-0 shadow-sm"
        clasesHeader="bg-white"
    >
        <template #header>
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">
                    <iconos :icon="['fas','tools']" /> Trabajos
                </h4>
                <router-link
                    class="btn btn-primary"
                    :to="{ name: 'trabajos-nuevo' }"
                >
                    Nuevo <iconos :icon="['fas','plus']" />
                </router-link>
            </div>
        </template>
        <template #body>
            <listado-trabajos />
        </template>
    </card>
</template>

<script setup>
//COMPONENTS
import ListadoTrabajos from '../components/Listado.vue';
</script>
