<template>
    <form @submit.prevent="login()">
        <card
            clasesBody="bg-white py-4 px-3"
            clasesCard="border-0 shadow-sm"
            clasesHeader="bg-white"
            header
        >
            <template #header>
                <h3 class="mb-0 p-1">Iniciar sesión</h3>
            </template>
            <template #body>
                <div class="mb-4">
                    <label class="form-label">
                        Email <span class="text-danger">*</span>
                    </label>
                    <input
                        type="text"
                        v-model="usuario.email"
                        class="form-control form-control-lg"
                        placeholder="ingresar email"
                        :disabled="loading"
                    >
                    <errores-formulario
                        v-if="erroresLogin.email"
                        :errores="erroresLogin.email"
                    />
                </div>
                <div class="mb-4">
                    <label class="form-label">
                        Contraseña <span class="text-danger">*</span>
                    </label>
                    <input
                        type="password"
                        v-model="usuario.password"
                        class="form-control form-control-lg"
                        placeholder="ingresar contraseña"
                        :disabled="loading"
                    >
                    <errores-formulario
                        v-if="erroresLogin.email"
                        :errores="erroresLogin.email"
                    />
                </div>
                <button
                    type="submit"
                    class="btn btn-primary btn-lg w-100 mt-2"
                    :disabled="loading"
                >
                    Ingresar
                    <spinner
                        v-if="loading"
                        small
                        tipo="white"
                    />
                </button>
            </template>
        </card>
    </form>
</template>

<script setup>
import { computed,ref } from 'vue';
import useGenerales from '@/composables/useGenerales';
import useAuthStore from '@/store/auth';

//STORE
const authStore = useAuthStore();

//HOOKS
//onMounted(() => authStore.resetearAuth());

//COMPOSABLES
const { loading } = useGenerales();

//DATA
const usuario = ref({
    email: null,
    password: null
});

//COMPUTED
const erroresLogin = computed(() => authStore.erroresLogin);

//METHODS
async function login() {
    loading.value = true;

    await authStore.login(usuario.value);

    loading.value = false;
}
</script>
