<template>
    <modal
        modal
        :closable="false"
        :showHeader="false"
        :style="{ width: '27rem' }"
        :visible="verModal"
        contentClass="p-0 rounded"
    >
        <form @submit.prevent="submit()">
            <card
                clasesCard="border-0"
                footer
                header
            >
                <template #header>
                    <h4 class="mb-0">{{ titulo }}</h4>
                </template>
                <template #body>
                    <div class="mb-3">
                        <label class="form-label">
                            Nombre <span class="text-danger">*</span>
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="ingresar nombre"
                            v-model="tipoRefaccion.nombre"
                            :disabled="loading"
                        >
                        <errores-formulario
                            v-if="errores.nombre"
                            :errores="errores.nombre"
                        />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Parte de motor <span class="text-danger">*</span>
                        </label>
                        <v-select
                            v-model="tipoRefaccion.parte_motor_id"
                            label="nombre"
                            placeholder="Seleccionar parte de motor"
                            :clearable="false"
                            :disabled="loading"
                            :options="partesMotor"
                            :reduce="pm => pm.id"
                        />
                        <errores-formulario
                            v-if="errores.parte_motor_id"
                            :errores="errores.parte_motor_id"
                        />
                    </div>
                </template>
                <template #footer>
                    <div class="d-flex justify-content-end align-items-center">
                        <spinner v-if="loading" />
                        <button
                            type="button"
                            class="btn btn-secondary mx-2"
                            @click="$emit('close')"
                            :disabled="loading"
                        >
                            Cancelar
                        </button>
                        <button
                            type="submit"
                            class="btn btn-primary"
                            :disabled="loading"
                        >
                            Guardar
                        </button>
                    </div>
                </template>
            </card>
        </form>
    </modal>
</template>

<script setup>
import { computed, onMounted,ref } from 'vue';
import useApi from '@/composables/useApi';
import useGenerales from '@/composables/useGenerales';
import useNotificacionesApi from '@/composables/useNotificacionesApi';

//PROPS
const props = defineProps({
    tipoRefaccion:{
        type: Object,
        require: true
    },
    verModal:{
        type: Boolean,
        default: false
    }
});

//EMITS
const emit = defineEmits(['close','refrescar']);

//HOOKS
onMounted(async () =>  await listadoPartesMotor());

//COMPOSABLES
const { get,post,put } = useApi();

const { loading } = useGenerales();

const { errores,manejoErroresApi,notificacion } = useNotificacionesApi();

//DATA
const partesMotor = ref([]);

//COMPUTED
const titulo = computed(() => (props.tipoRefaccion.id) ? 'Editar tipo de refacción' : 'Nueva tipo de refacción');

//METHODS
async function crearOActualizar() {
    if (props.tipoRefaccion.id) {
        return await put(`/catalogos/tipo-refacciones/${props.tipoRefaccion.id}`, props.tipoRefaccion);
    } else {
        return await post('/catalogos/tipo-refacciones', props.tipoRefaccion);
    }
}

async function listadoPartesMotor() {
    let { data,error } = await get('/catalogos/partes-motor/listado');

    if (error) {
        notificacion('error', 'Error', error);
        return
    }

    partesMotor.value = data;
}

function regresar() {
    emit('refrescar');
    emit('close');
}

async function submit() {
    loading.value = true;
    errores.value = {};

    let { error,mensaje,status } = await crearOActualizar();

    if (error) {
        manejoErroresApi(error, status, props.tipoRefaccion);
        loading.value = false;
        return
    }

    loading.value = false;

    notificacion('success', 'Exito', mensaje, true);
    regresar();
}
</script>
