<template>
    <form @submit.prevent="submit()">
        <card
            clasesCard="border-0"
            clasesFooter="bg-white"
            footer
        >
            <template #body>
                <div class="row gy-3">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label">
                            Nombre <span class="text-danger">*</span>
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="ingresar nombre"
                            v-model="clienteProveedor.nombre"
                            :disabled="loading"
                        >
                        <errores-formulario
                            v-if="errores.nombre"
                            :errores="errores.nombre"
                        />
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label">RFC</label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="ingresar rfc"
                            v-model="clienteProveedor.rfc"
                            :disabled="loading"
                        >
                        <errores-formulario
                            v-if="errores.rfc"
                            :errores="errores.rfc"
                        />
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label">Email</label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="ingresar email"
                            v-model="clienteProveedor.email"
                            :disabled="loading"
                        >
                        <errores-formulario
                            v-if="errores.email"
                            :errores="errores.email"
                        />
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <label class="form-label">
                            Celular <span class="text-danger">*</span>
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="ingresar celular"
                            v-model="clienteProveedor.celular"
                            :disabled="loading"
                        >
                        <errores-formulario
                            v-if="errores.celular"
                            :errores="errores.celular"
                        />
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label">Teléfono</label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="ingresar telefono"
                            v-model="clienteProveedor.telefono"
                            :disabled="loading"
                        >
                        <errores-formulario
                            v-if="errores.telefono"
                            :errores="errores.telefono"
                        />
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label">
                            Tipo <span class="text-danger">*</span>
                        </label>
                        <v-select
                            v-model="clienteProveedor.tipo"
                            placeholder="Seleccionar tipo"
                            :clearable="false"
                            :disabled="loading"
                            :options="tipos"
                        />
                        <errores-formulario
                            v-if="errores.tipo"
                            :errores="errores.tipo"
                        />
                    </div>
                    <div class="col-12">
                        <label class="form-label">Dirección</label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="ingresar direccion"
                            v-model="clienteProveedor.direccion"
                            :disabled="loading"
                        >
                        <errores-formulario
                            v-if="errores.direccion"
                            :errores="errores.direccion"
                        />
                    </div>
                </div>
            </template>
            <template #footer>
                <div class="d-flex justify-content-end align-items-center">
                    <spinner v-if="loading" />
                    <button
                        type="button"
                        class="btn btn-secondary mx-2"
                        @click="regresar()"
                        :disabled="loading"
                    >
                        Cancelar
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        @click="submit()"
                        :disabled="loading"
                    >
                        Guardar
                    </button>
                </div>
            </template>
        </card>
    </form>
</template>

<script setup>
import { onMounted,ref } from 'vue';
import { useRoute,useRouter } from 'vue-router';
import useApi from '@/composables/useApi';
import useGenerales from '@/composables/useGenerales';
import useNotificacionesApi from '@/composables/useNotificacionesApi';

//HOOKS
onMounted(() => {
    let { id } = route.params

   /*  loading.value        = true;
    loadingListado.value = true; */

    if (id) {
        (async () => await buscarClienteProveedor(id))();
    }

    /* loading.value        = false;
    loadingListado.value = false; */
});

//COMPOSABLES
const { get,post,put } = useApi();

const { loading } = useGenerales();

const { errores,manejoErroresApi,notificacion } = useNotificacionesApi();

const route = useRoute();

const router = useRouter();

//DATA
const clienteProveedor = ref({
    id: null,
    nombre: null,
    rfc: null,
    email: null,
    celular: null,
    telefono: null,
    tipo: null,
    activo: true
});

const tipos = ['CLIENTE','PROVEEDOR','AMBOS'];

//METHODS
async function buscarClienteProveedor(cliente_proveedor_id) {
    loading.value = true;

    let { data,error } = await get(`/catalogos/clientes-proveedores/${cliente_proveedor_id}`);

    if (error) {
        notificacion('error', 'Error', error);

        loading.value = false;
        return
    }

    clienteProveedor.value = data;

    loading.value = false;
}

async function crearOActualizar() {
    if (clienteProveedor.value.id) {
        return await put(`/catalogos/clientes-proveedores/${clienteProveedor.value.id}`, clienteProveedor.value);
    } else {
        return await post('/catalogos/clientes-proveedores', clienteProveedor.value);
    }
}

function regresar() {
    router.push({ name: 'clientes-proveedores' });
}

async function submit() {
    loading.value = true;
    errores.value = {};

    let { error,mensaje,status } = await crearOActualizar();

    if (error) {
        manejoErroresApi(error, status, clienteProveedor.value);
        loading.value = false;
        return
    }

    loading.value = false;

    notificacion('success', 'Exito', mensaje, true);
    regresar();
}
</script>
