<template>
    <div class="row justify-content-md-end justify-content-lg-end align-items-center mb-3">
        <spinner v-if="loadingSearch"/>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <buscar @filtrar="filtrar($event)" />
        </div>
    </div>
    <div v-if="loading" class="d-flex justify-content-center my-5">
        <spinner tipo="dark" :agrandar="true" />
    </div>
    <div v-else>
        <div
            v-if="existenRegistros((clientesProveedores.data || clientesProveedores))"
            class="table-responsive"
        >
            <table  class="table table-striped align-middle mb-0">
                <thead>
                    <tr>
                        <th
                            v-for="cabecera in cabeceras"
                            :key="cabecera"
                            class="text-center"
                        >
                            {{ cabecera}}
                        </th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr v-for="clienteProveedor in clientesProveedores.data" :key="clienteProveedor.id">
                        <td class="text-center">
                            {{ clienteProveedor.nombre }}
                        </td>
                        <td class="text-center">
                            {{ clienteProveedor.tipo }}
                        </td>
                        <td class="text-center">
                            <badge :tipo="colorBadgeEstado(clienteProveedor.activo)">
                                <span class="fs-6">{{ clienteProveedor.texto_estado }}</span>
                            </badge>
                        </td>
                        <td class="text-center">
                            <div class="dropdown-center">
                                <p
                                    role="button"
                                    class="p-1 m-0"
                                    data-bs-toggle="dropdown"
                                >
                                    <iconos :icon="['fas','ellipsis-vertical']" size="xl" />
                                </p>

                                <ul class="dropdown-menu py-1">
                                    <li
                                        class="dropdown-item"
                                        role="button"
                                        @click="editar(clienteProveedor.id)"
                                    >
                                        <iconos class="me-1" :icon="['fas','pen']" /> Editar
                                    </li>
                                    <li
                                        class="dropdown-item"
                                        role="button"
                                        @click="eliminar(clienteProveedor)"
                                    >
                                        <div v-if="clienteProveedor.activo">
                                            <iconos class="me-1" :icon="['fas','toggle-off']" /> Desactivar
                                        </div>
                                        <div v-else>
                                            <iconos class="me-1" :icon="['fas','toggle-on']" /> Activar
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div
                v-if="existenRegistros((clientesProveedores.data || clientesProveedores))"
                class="d-flex align-items-center justify-content-between mt-2"
            >
                <div class="col-6">
                    <h6 class="mb-0">
                        {{ mensajeRegistrosPaginados(clientesProveedores) }}
                    </h6>
                </div>
                <div class="col-auto">
                    <paginador
                        :rows="clientesProveedores.per_page"
                        :totalRecords="clientesProveedores.total"
                        :rowsPerPageOptions="[15,30,50]"
                        @page="paginar($event)"
                    />
                </div>
            </div>
        </div>
        <alerta
            v-else
            texto="Sin registros de clientes/proveedores"
            tipo="warning"
            :cerrar="false"
        />
    </div>
    <confirm-dialog group="headless" :style="{ width: '25rem' }">
        <template #container="{ message, acceptCallback, rejectCallback }">
            <div class="p-4 bg-white rounded">
                <h4 class="mb-3">
                    ¿{{ message.header }}?
                </h4>
                <p>
                    {{ message.message }}
                </p>
                <div class="d-flex justify-content-end align-items-center">
                    <button class="btn btn btn-outline-secondary me-2" @click="rejectCallback">
                        Cancelar
                    </button>
                    <button class="btn btn btn-primary" @click="acceptCallback">
                        {{ textoBotonConfirmacion }}
                    </button>
                </div>
            </div>
        </template>
    </confirm-dialog>
</template>

<script setup>
import { onMounted,ref } from 'vue';
import { useRouter } from 'vue-router';
import useApi from '@/composables/useApi';
import useGenerales from '@/composables/useGenerales';
import useNotificacionesApi from '@/composables/useNotificacionesApi';
import usePaginacion from '@/composables/usePaginacion';

//COMPOSABLES
const { get,destroy } = useApi();

const { confirmar,loading,colorBadgeEstado } = useGenerales();

const { notificacion } = useNotificacionesApi();

const {
    cambioPagina,
    existenRegistros,
    filtrarDatos,
    loadingSearch,
    mensajeRegistrosPaginados,
    params
} = usePaginacion();

const router = useRouter();

//DATA
const cabeceras = ['NOMBRE','TIPO','ESTADO','ACCIONES'];

const clientesProveedores = ref([]);

const textoBotonConfirmacion = ref('');

//HOOKS
onMounted(async () => {
    loading.value = true;

    await listado();

    loading.value = false;
});

//METHODS
function editar(cliente_proveedor_id) {
    router.push({
        name: 'clientes-proveedores-editar',
        params: {
            id: cliente_proveedor_id
        }
    });
}

function eliminar(cliente_proveedor) {
    const accionHeader  = (cliente_proveedor.activo) ? 'Desactivar' : 'Activar';
    const accionMessage = (cliente_proveedor.activo) ? 'desactivara' : 'activara';

    textoBotonConfirmacion.value = accionHeader;

    confirmar.require({
        group: 'headless',
        header:  `${accionHeader} Cliente/Proveedor`,
        message: `Se ${accionMessage} a ${cliente_proveedor.nombre}`,
        accept: async () => await eliminarClienteProveedor(cliente_proveedor.id),
        reject: () => {

        }
    });
}

async function eliminarClienteProveedor(cliente_proveedor_id) {
    let { status,mensaje } = await destroy(`/catalogos/clientes-proveedores/${cliente_proveedor_id}`);

    if (status !== 200) {
        notificacion('error', 'Error', mensaje);
        return
    }

    await listado();
    notificacion('success', 'Eliminado', mensaje, true);

}

async function filtrar(query) {
    loadingSearch.value = true;

    filtrarDatos(query);
    await listado();

    loadingSearch.value = false;
}

async function listado() {
    let { data,status,mensaje } = await get('/catalogos/clientes-proveedores', params.value);

    if (status !== 200) {
        notificacion('error', 'Error', mensaje);
        return
    }

    clientesProveedores.value = data;
}

async function paginar(data) {
    cambioPagina(data);
    await listado();
    window.scrollTo(0,0);
}
</script>
