<template>
    <header
        id="encabezado"
        :class="[
            'p-3 d-flex align-items-center justify-content-between bg-white shadow-sm sticky-top',
            { expandir: ocultarSidebar }
        ]"
        v-loading.fullscreen.lock="loading"
        element-loading-text="Cerrando sesión..."
    >
        <div class="icon-bars" @click="$emit('sidebar-ocultar')">
            <iconos :icon="['fas','bars']" size="2x"/>
        </div>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item dropdown-center">
                    <a
                        class="nav-link dropdown-toggle text-dark"
                        href="#"
                        id="submenusDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        {{ authStore.user.name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="submenusDropdown">
                        <li>
                            <button class="dropdown-item" @click="logout()">
                                Cerrar sesión
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
</template>

<script>
import api from '@/api'
import useAuthStore from '@/store/auth';
import useGenerales from '@/composables/useGenerales';

export default {
    props:{
        ocultarSidebar:{
            type: Boolean,
            required: true
        }
    },
    setup(){
        //Composables
        const authStore   = useAuthStore();

        const { loading } = useGenerales();

        //Methods
        const logout = async () => {
            loading.value = true
            await authStore.logout()
            loading.value = false
        }

        return {
            authStore,
            loading,
            logout
        }
    }
}
</script>

<style scoped>
    .dropdown-item {
        cursor: pointer;
    }
</style>
