<template>
    <nav
        id="navbar"
        class="navbar navbar-expand-lg bg-white border-bottom border-body py-0 sticky-top"
        data-bs-theme="white"
    >
        <div class="container-fluid">
            <router-link class="navbar-brand fw-bold text-primary fs-3" :to="{ name: 'home' }">
                RA
            </router-link>
            <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#nav-menu"
                aria-controls="nav-menu"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="nav-menu" style="">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li
                        v-for="menu in menus"
                        :key="menu.nombre"
                        :class="clasesLista(menu)"
                        :id="menu.nombre"
                    >
                        <template v-if="menu.submenus.length">
                            <a
                                class="nav-link dropdown-toggle p-3"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                {{ menu.nombre }}
                            </a>
                            <ul class="dropdown-menu bg-white">
                                <li
                                    v-for="submenu in menu.submenus"
                                    :key="submenu.nombre"
                                >
                                    <router-link
                                        class="dropdown-item"
                                        :to="{ name: submenu.ruta }"
                                    >
                                        {{ submenu.nombre }}
                                    </router-link>
                                </li>
                            </ul>
                        </template>
                        <router-link
                            v-else
                            class="nav-link p-3"
                            :to="{ name: menu.ruta }"
                        >
                            {{ menu.nombre }}
                        </router-link>
                    </li>
                </ul>
                <div>
                    <button
                        v-if="usuarioLogueado"
                        type="button"
                        class="btn btn-outline-dark"
                        @click="logout()"
                    >
                        Cerrar sesión
                    </button>
                    <router-link
                        v-else
                        class="btn btn-outline-primary"
                        :to="{ name: 'login' }"
                    >
                        Iniciar sesión
                    </router-link>
                </div>
            </div>
        </div>
    </nav>
</template>

<script setup>
import { computed,ref } from 'vue';
import { useRoute } from 'vue-router';
import useAuthStore from '@/store/auth';
import useGenerales from '@/composables/useGenerales';

//COMPOSABLES
const authStore = useAuthStore();

const { loading } = useGenerales();

const route = useRoute();

//DATA
const menus = ref([
    {
        nombre: 'Home',
        ruta: 'home',
        modulo: 'home',
        submenus:[]
    },
    {
        nombre: 'Catalogos',
        ruta: null,
        modulo: 'catalogos',
        submenus:[
            {
                nombre: 'Clientes Proveedores',
                ruta: 'clientes-proveedores'
            },
            {
                nombre: 'Marcas',
                ruta: 'marcas'
            },
            {
                nombre: 'Medidas',
                ruta: 'medidas'
            },
            {
                nombre: 'Modelos',
                ruta: 'modelos'
            },
            {
                nombre: 'Partes de motor',
                ruta: 'parte-motores'
            },
            {
                nombre: 'Servicios',
                ruta: 'servicios'
            },
            {
                nombre: 'Tipo refacciones',
                ruta: 'tipo-refacciones'
            }
        ]
    },
    {
        nombre: 'Trabajos',
        ruta: 'trabajos',
        modulo: 'trabajos',
        submenus:[]
    }
]);

//COMPUTED
const usuarioLogueado = computed(() => authStore.loggedIn);

//METHODS
function clasesLista(menu) {
    let { submenus,modulo } = menu;
    let clases = '';

    if (submenus.length) {
        /* let rutas = submenus.map(submenu => submenu.ruta);
        let rutaActual = rutas.some((ruta) => ruta === route.name); */
        let dropdownActivo = route.path.includes(modulo);
        clases = 'nav-item dropdown';

        if (dropdownActivo) {
            clases+=' active';
        }
    } else {
        clases = 'nav-item';
    }

    return clases;
}

async function logout() {
    loading.value = true

    await authStore.logout();

    loading.value = false
}
</script>
