<template>
    <card
        header
        clasesCard="border-0 shadow-sm bg-white"
        clasesHeader="bg-white"
    >
        <template #header>
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">
                    <iconos :icon="['fas','gears']" /> Tipo de refacciones
                </h4>
                <button
                    type="button"
                    class="btn btn-primary"
                    @click="abrirModal()"
                >
                    Nuevo <iconos :icon="['fas','plus']" />
                </button>
            </div>
        </template>
        <template #body>
            <listado-tipo-refacciones ref="listadoTipoRefacciones"/>
        </template>
    </card>
</template>

<script setup>
import { ref } from 'vue';

//COMPONENTS
import ListadoTipoRefacciones from '../../components/tipo-refacciones/Listado.vue';

//DATA
const listadoTipoRefacciones = ref(null);

//METHODS
function abrirModal() {
    listadoTipoRefacciones.value.abrirModal();
}
</script>
