<template>
    <span :class="`badge ${badgePill} bg-${tipoBadge}`">
        <slot></slot>
    </span>
</template>

<script setup>
import { computed } from 'vue';

//PROPS
const props = defineProps({
    tipo:{
        type: String,
        default: ''
    },
    pill: {
        type: Boolean,
        default: false
    }
});

//COMPUTED
const badgePill = computed(() => (props.pill) ? 'rounded-pill' : '');

const tipoBadge = computed(() => {
    if (props.tipo === 'warning' || props.tipo === 'secondary') {
        return `${props.tipo} text-dark`
    }

    return props.tipo
});
</script>
