<template>
  <div :class="`card ${clasesCard}`">
        <img
            v-if="image"
            :src="image"
            class="card-img-top"
            alt="..."
        >
      <div
          v-if="header"
          :class="`card-header ${clasesHeader}`"
      >
         <slot name="header"></slot>
      </div>
      <div :class="`card-body ${clasesBody}`">
          <slot name="body"></slot>
      </div>
      <div
          v-if="footer"
          :class="`card-footer ${clasesFooter}`"
      >
          <slot name="footer"></slot>
      </div>
  </div>
</template>

<script setup>
//PROPS
const props = defineProps({
    clasesBody:{
        type: String,
        default: ''
    },
    clasesCard:{
        type: String,
        default: ''
    },
    clasesFooter: {
        type: String,
        default: ''
    },
    clasesHeader: {
        type: String,
        default: ''
    },
    header: {
        type: Boolean,
        defeault: false
    },
    footer: {
        type: Boolean,
        default: false
    },
    image: {
        type: Boolean,
        require: false
    }
});
</script>
