<template>
    <div class="alert text-danger alert-danger p-1 border-0 d-inline-block mt-1 rounded-1">
        <div 
            v-for="error in errores"
            :key="error"
        >
            <small>{{ error }}</small>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            errores:{
                type: Array,
                required: true
            }
        }
    }
</script>

<style scoped>
    small {
        font-weight: 500;
    }
</style>