<template>
    <input
        type="file"
        class="d-none"
        ref="inputFile"
        @change="cargarArchivo"
    >
    <div class="text-center mb-3 gy-3">
        <img
            class="rounded"
            :src="archivo"
            :height="alto"
            :width="ancho"
        >
    </div>
    <button
        type="button"
        class="btn btn-sm btn-outline-danger ms-auto"
        @click="abrirInputFile()"
    >
        Subir imagen
    </button>
</template>

<script setup>
import { ref } from 'vue';

//PROPS
const props = defineProps({
    alto: {
        type: String,
        require: true
    },
    ancho: {
        type: String,
        require: true
    },
    archivo: {
        type: String,
        require: true
    }
});

//EMITS
const emit = defineEmits(['imagen-cargada']);

//DATA
const inputFile = ref(null);

//METHODS
function abrirInputFile () {
    inputFile.value.click();
}

function cargarArchivo(event) {
    const [file] = event.target.files;

    if (file) {
        const reader = new FileReader();

        reader.onload = (e) => {
            const result = e.target.result;

            emit('imagen-cargada', file, result);
        }

        reader.readAsDataURL(file);
    }
}
</script>
