<template>
   <div id="admin-layout">
        <nav-bar />
        <div class="container py-4">
            <router-view></router-view>
        </div>
   </div>
</template>

<script setup>
//COMPONENTS
import NavBar from '@/components/layouts/NavBar.vue'
</script>
