<template>
    <div id="login-layout">
        <div class="w-100">
            <h1 class="fw-bold text-center text-primary">
                RECTIFICACIONES
            </h1>
            <h1 class="fw-bold text-center mb-0 text-primary">
                AUTOMOTRICES
            </h1>
            <<div class="row justify-content-center align-items-center mx-0">
                <div class="col-11 col-sm-11 col-mb-6 col-lg-4 col-xl-4">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
//COMPONENTS
import Login from '@/views/Login.vue'
</script>
